/* global */
@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  background-color: #101214;
  color:  #eeeeee;
  font-family: "Roboto", sans-serif;
  
}

header {
  padding-top: 5%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

section {
  width: 90vw; /*repsoinvise width*/
  max-width: 900px;
  margin: 40px auto 0; /*center horizontally */
  box-sizing: border-box
}

 article {
        padding: 10px;
        margin: 10px 0; /* vert only, no l/r */
}

h2 {
  color: #fff 
}

 p {
  font-size: 1.1rem;
  padding-bottom: 10px;
  margin: 0; 
}

a {
  color:  #eeeeee;
  text-decoration: none;
}

li {
  margin-bottom: 3px;
}

/* animations / utilities */
a:hover {
  font-size: 1.3rem;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

#earth {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: transparent url("https://i.imgur.com/Qk4UXcU.png");
  background-size: cover;
  box-shadow: inset 0px -20px 50px 10px #00ffff80, 0px 0px 30px 6px #00ffff70;
  transform-style: preserve-3d;
  transform: rotate(20deg);
  animation: rotate 20s linear infinite;
}

@keyframes rotate {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 530px 0;
  }
}
